mat-spinner {
  margin: auto;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

mat-card {
  margin: 10px 10px 10px 0;
  min-width: 300px;
  max-width: 20vw;
}

.description {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis; //TODO: fix because not working with several lines...
}

img {
  margin-top: 5px;
  max-width: 100%;
  height: auto;
}
